
td {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	color: black;
	font-style: normal;
	text-decoration: none;
	text-align: general;
	vertical-align: bottom;
	border: none;
	white-space: nowrap;
}

.xl66 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	background: white;
}

.xl67 {
	text-align: center;
	border-bottom: none !important;
	vertical-align: middle;
}

.xl68 {
	text-align: center;
	vertical-align: middle;
	border: none;
}

.xl69 {
	text-align: center;
	vertical-align: middle;
	border: none;
}

.xl70 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl71 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl72 {
	text-align: center;
	vertical-align: middle;
	border-left: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-top: none !important;
}

.xl73 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl74 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl75 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl76 {
	vertical-align: middle;
}

.xl77 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl78 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl79 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl80 {
	text-align: center;
	vertical-align: middle;
}

.xl81 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl82 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl83 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl84 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl85 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl86 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl87 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl88 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl89 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl90 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl91 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl92 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl93 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl94 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl95 {
	text-align: center;
	vertical-align: middle;
	
}

.xl96 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
	background: white;
}

.xl97 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl98 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl99 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl100 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl101 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl102 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl103 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
	background: white;
}

.xl104 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl105 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl106 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl107 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl108 {
	text-align: center;
	vertical-align: middle;
}

.xl109 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl110 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

.xl111 {
	vertical-align: middle;
}

.xl112 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl113 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl114 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl115 {
	vertical-align: middle;
}

.xl116 {
	vertical-align: middle;
}

.xl117 {
	vertical-align: middle;
}

.xl118 {
	text-align: center;
	vertical-align: middle;
}

.xl119 {
	text-align: center;
	vertical-align: middle;
}

.xl120 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl121 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl122 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl123 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl124 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl125 {
	vertical-align: middle;
	background: white;
}

.xl126 {
	text-align: center;
	vertical-align: middle;
	background: white;
}

.xl127 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl128 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl129 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl130 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl131 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl132 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	background: white;
}

.xl133 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl134 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	background: white;
}

.xl135 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl136 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl137 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl138 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl139 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl140 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl141 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl142 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl143 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl144 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl145 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl146 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl147 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	white-space: normal;
}

.xl148 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl149 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl150 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl151 {
	text-align: center;
	vertical-align: middle;
}

.xl152 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl153 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl154 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl155 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl156 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
	background: white;
}

.xl157 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	background: white;
}

.xl158 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl159 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl160 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl161 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	background: white;
}

.xl162 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl163 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl164 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl165 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl166 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	white-space: normal;
}

.xl167 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	white-space: normal;
}

.xl168 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	white-space: normal;
}

.xl169 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

.xl170 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	white-space: normal;
}

.xl171 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
	white-space: normal;
}

.xl172 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl173 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl174 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	white-space: normal;
}

.xl175 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl176 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl177 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl178 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl179 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl180 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl181 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl182 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl183 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl184 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl185 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	background: white;
}

.xl186 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl187 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl188 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl189 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl190 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl191 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl192 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl193 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl194 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl195 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl196 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl197 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl198 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl199 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl200 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl201 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl202 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl203 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl204 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}