
td {
	padding: 0px;
	color: black;
	font-style: normal;
	text-decoration: none;
	text-align: general;
	vertical-align: bottom;
	border: none;
	white-space: nowrap;
}

.xl66 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl67 {
	vertical-align: middle;
}

.xl68 {
	text-align: center;
	vertical-align: middle;
	border: none;
	
}

.xl69 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl70 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl71 {
	text-align: center;
	vertical-align: middle;
	border: none;
}

.xl72 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
	background: white;
}

.xl73 {
	text-align: center;
	vertical-align: middle;
	border: 01.0pt solid windowtext;
	background: white;
}

.xl74 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl75 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl76 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl77 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl78 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl79 {
	text-align: center;
	vertical-align: middle;
}

.xl80 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl81 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl82 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl83 {
	text-align: center;
	vertical-align: middle;
}

.xl84 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl85 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl86 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl87 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl88 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl89 {
	vertical-align: middle;
}

.xl90 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl91 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl92 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl93 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl94 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl95 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 2.0pt double windowtext;
	border-bottom: 2.0pt double windowtext;
	border-left: none;
}

.xl96 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 2.0pt double windowtext;
	border-left: none;
}

.xl97 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 2.0pt double windowtext;
	border-left: none;
}

.xl98 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 2.0pt double windowtext;
	border-left: 2.0pt double windowtext;
}

.xl99 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 2.0pt double windowtext;
	border-bottom: none;
	border-left: none;
}

.xl100 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2.0pt double windowtext;
}

.xl101 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl102 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl103 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl104 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl105 {
	text-align: center;
	vertical-align: middle;
	border-top: 2.0pt double windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl106 {
	text-align: center;
	vertical-align: middle;
	border-top: 2.0pt double windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl107 {
	text-align: center;
	vertical-align: middle;
	border-top: 2.0pt double windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 2.0pt double windowtext;
}

.xl108 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

.xl109 {
	text-align: center;
	vertical-align: middle;
	background: black;
}

.xl110 {
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl111 {
	text-align: center;
	vertical-align: middle;
	border: none;
}

.xl112 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl113 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl114 {
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl115 {
	text-align: center;
	vertical-align: middle;
	border: none;
}

.xl116 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl117 {
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 2.0pt double windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl118 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1pt dashed windowtext;
	border-bottom: none;
	border-left: none;
}

.xl119 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt dashed windowtext;
	border-left: none;
}

.xl120 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt dashed windowtext;
	border-left: none;
}

.xl121 {
	vertical-align: middle;
	border-bottom: 1.0pt dashed windowtext;
}

.xl122 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt dashed windowtext;
	border-bottom: 1.0pt dashed windowtext;
	border-left: none;
}

.xl123 {
	vertical-align: middle;
	border-top: none;
	border-right: 2.0pt double windowtext;
	border-bottom: none;
	border-left: none;
}

.xl124 {
	vertical-align: middle;
	white-space: normal;
}

.xl125 {
	vertical-align: middle;
	white-space: normal;
}

.xl126 {
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl127 {
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt dashed windowtext;
	border-bottom: none;
	border-left: none;
}

.xl128 {
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl129 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl130 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2.0pt double windowtext;
	white-space: normal;
}

.xl131 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl132 {
	vertical-align: middle;
	border: none;
}

.xl133 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl134 {
	vertical-align: middle;
	border-top: 2.0pt double windowtext;
	border-right: 2.0pt double windowtext;
	border-bottom: none;
	border-left: none;
}

.xl135 {
	vertical-align: middle;
	border-top: 2.0pt double windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl136 {
	vertical-align: middle;
	border-top: 2.0pt double windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl137 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl138 {
	vertical-align: middle;
	border: none;
	
}

.xl139 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.xl140 {
	vertical-align: middle;
	border: none;
}

.xl141 {
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl142 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl143 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl144 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border: 01.0pt solid windowtext;
}

.xl145 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl146 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	background: white;
}

.xl147 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl148 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl149 {
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl150 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
}

.xl151 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl152 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl153 {
	text-align: center;
	vertical-align: middle;
}

.xl154 {
	text-align: center;
	vertical-align: middle;
}

.xl155 {
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	white-space: normal;
}

.xl156 {
	text-align: center;
	vertical-align: middle;
	white-space: normal;
}

.xl157 {
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}

.xl158 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
}

.xl159 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
}

.xl160 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
}

.xl161 {
	text-underline-style: single;
	text-align: center;
	vertical-align: middle;
	border: 1.0pt solid windowtext;
}